<!-- Page header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Exchange </h1>
</div>

<!-- Alert -->
<div class="row" *ngIf="alertConfig">
  <div class="col-12">
    <app-alert [alertConfig]="alertConfig"></app-alert>
  </div>
</div>

<!-- Page Content -->
<div class="row">
  <div class="col-md-6">
    <!-- Formulário de exchange -->
    <form [formGroup]='exchangeForm'>
      <div class="form-row">

        <!-- Segmento -->
        <div class="form-group col-md-6">
          <label for="inputSegment">Segmento</label>
          <select class="form-control" id="inputSegment" formControlName='segment'>
            <option *ngFor="let segment of segments; let i = index" [value]="segment.id">
              {{segments[i].name}}
            </option>
          </select>
        </div>

        <!-- Moeda -->
        <div class="form-group col-md-6">
          <label for="inputCurrency">Moeda</label>
          <select class="form-control" id="inputCurrency" formControlName='currency'>
            <option *ngFor="let currency of currencies; let i = index" [value]="currencies[i].id">
              {{currencies[i].code}} | {{currencies[i].name}}
            </option>
          </select>
        </div>
      </div>

      <!-- Quantidade desejada -->
      <div class="form-group">
        <label for="inputQuantity">Quantidade de moeda</label>
        <input type="text" currencyMask class="form-control" id="inputQuantity" placeholder="1000,00"
          formControlName='quantity' [options]="{ thousands: '.', decimal: ',', allowNegative:false }">
      </div>

      <button type="button" class="btn btn-primary" [disabled]="exchangeForm.pristine || exchangeForm.invalid"
        (click)='calculateExchangeValue()'>Converter</button>
    </form>
  </div>

  <!-- Seção de resultado -->
  <div class="col-md-6" *ngIf="exchangeResult">
    Custo total: R$ {{exchangeResult.value | number: '1.2-2'}}
  </div>
</div>
