<!-- Page header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Segmentos </h1>
</div>

<!-- Alert -->
<div class="row" *ngIf="alertConfig">
  <div class="col-12">
    <app-alert [alertConfig]="alertConfig"></app-alert>
  </div>
</div>


<div class="row">

  <!-- Segmentos registrados e suas taxas -->
  <div class="col-md-6">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Segmentos</th>
          <th scope="col">Taxa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let segment of segments; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{segment.name}}</td>
          <td>{{segment.exchangeTax * 100 | number: '1.2-5'}}%</td>
          <td>
            <button type="button" class="btn btn-link btn-sm" (click)="deleteSegment(segment.id)">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Coluna do formulário -->
  <div class="col-md-6">
    <form [formGroup]="segmentForm">
      <div class="row">
        <!-- Nome do segmento -->
        <div class="col">
          <div class="form-group">
            <label for="segmentNameInput">Nome do segmento</label>
            <input type="text" class="form-control" id="segmentNameInput" formControlName="segmentName"
              placeholder="Varejo">
          </div>
        </div>
        <!-- Taxa -->
        <div class="col">
          <div class="form-group">
            <label for="segmentTaxInput">Taxa em %</label>
            <input type="number" class="form-control" id="segmentTaxInput" formControlName="segmentTax" onlyNumber
              placeholder="0.00">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-link" [disabled]="segmentForm.pristine || segmentForm.invalid"
            (click)="addNewSegment()">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
