<!-- Page header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Segmentos </h1>
</div>

<div class="row">
  <!-- Adicionar novo Segmento -->
  <div class="col-md-12">
    <button type="button" class="btn btn-primary"><i class="bi bi-plus"></i></button>
  </div>
</div>

<!-- Segmentos registrados e suas taxas -->
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Segmentos</th>
          <th scope="col">Taxa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Varejo</td>
          <td>5%</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm">
              <i class="bi bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Personnalite</td>
          <td>3%</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Private</td>
          <td>1%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
