<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/exchange" routerLinkActive="active">
        <span data-feather="Exchange"></span>
        Exchange
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/segment-management" routerLinkActive="active">
        <span data-feather="Segmentos"></span>
        Segmentos 
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/currency-management" routerLinkActive="active">
        <span data-feather="Moedas"></span>
        Moedas 
      </a>
    </li>
  </ul>
</div>